<link rel="stylesheet" href="/css/footer.css"/>

<div class="footer-container">
    <div class="footer-div-1">
        <div class="footer-sections business-name">
            <h3>TISDIF-E-CARD</h3>
        </div>
        <div class="footer-sections socials">
            <h2>Socials</h2>
            <ul>
                <li><img src="https://img.icons8.com/ios-filled/16/facebook.png" alt="shop location"/><a href="https://www.facebook.com/tisdifecard"> Facebook</a></li>            
                <li><img src="https://img.icons8.com/ios-filled/16/whatsapp.png" alt="email address"/> Whatsapp</li>
            </ul>
        </div>
        <div class="footer-sections contacts">
            <h2>Get in touch</h2>
            <ul>
                <li><img src="https://img.icons8.com/ios-filled/16/marker.png" alt="shop location"/> Shop-385, Level-2, Motalib Plaza, Hatirpul, Dhaka 1205, Bangladesh</li>            
                <li><img src="https://img.icons8.com/ios-filled/16/new-post.png" alt="email address"/> tisdifecards@gmail.com</li>
                <li><img src="https://img.icons8.com/ios-filled/16/apple-phone.png" alt="phone"/> +8801715-506304</li>
                <li><img src="https://img.icons8.com/ios/16/domain--v1.png" alt="domain--v1"/>https://tisdifecard.com/</li>
            </ul>
        </div>
    </div>
    <div class="footer-div-2">
        <p> ©️ All Rights Reserved 2025 </p>
</div>
</div>