<link rel="stylesheet" href="/css/footer.css"/>

<div class="footer-container" id="footer">
    <div class="footer-div-1">
        <div class="footer-sections our-products">
            <h2>Our Products</h2>
            <ul>
                <li>iTunes Gift Card (USD)</li>    
                <li>iTunes Gift Card (AUD)</li>    
                <li>iTunes Gift Card (INR)</li>
                <li>Apple Accessories</li>
                <li>Apple Official Charger</li>
                <li>Apple Official Charging Cable</li>
                <li>Silicon Case for iPhones</li>
                <li>Apple iPhones</li>
            </ul>
        </div>
        <div class="footer-sections socials">
            <h2>Socials</h2>
            <ul>
                <li><img src="https://img.icons8.com/ios-filled/16/facebook.png" alt="facebook page"/><a href="https://www.facebook.com/tisdifecard">Facebook</a></li>            
                <li><img src="https://img.icons8.com/ios-filled/16/whatsapp.png" alt="whatsapp"/>+8801715-506304</li>
            </ul>
        </div>
        <div class="footer-sections contacts">
            <h2>Get in touch</h2>
            <ul>
                <li><img src="https://img.icons8.com/ios-filled/16/marker.png" alt="shop location"/>Shop-385, Level-2, Motalib Plaza, Hatirpul, Dhaka 1205, Bangladesh</li>            
                <li><img src="https://img.icons8.com/ios-filled/16/new-post.png" alt="email address"/>tisdifecards@gmail.com</li>
                <li><img src="https://img.icons8.com/ios-filled/16/apple-phone.png" alt="phone"/>+8801715-506304</li>
                <li><img src="https://img.icons8.com/ios/16/domain--v1.png" alt="domain--v1"/><a>https://tisdifecard.com/</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-div-2">
        <p>© All Rights Reserved 2025 | Design and Developed by <a style="text-decoration: underline;" href="https://github.com/NadmanAlvee">Nadman Alvee</a></p>
</div>
</div>