<%- include('./partials/headers/header.ejs') %>
<link rel="stylesheet" href="/css/style.css" />

    <!-- Slide ups -->
    <div class="typewrapper">
        <div class="slideup">
            <h2>DISCOVER</h2>
            <ol>
                <li><span>GIFT CARDS</span></li>
                <li><span>IPHONES</span></li>
                <li><span>ACCESSORIES</span></li>
                <li><span>AND MANY MORE</span></li>
            </ol>
        </div>
    </div>

    <!-- designs -->
    <div class="h1s">
        <h1 class="h1 p1">TISDIF E CARD</h1>
        <h1 class="h1 p2">TISDIF E CARD</h1>
        <h1 class="h1 p3">TISDIF E CARD</h1>
        <h1 class="h1 p4">TISDIF E CARD</h1>
    </div>

    <!-- Products Section -->
    <% const categories = ["iphones", "giftcards", "accessories"]; %>
    <% categories.forEach(category => { 
        const categoryProducts = products.filter(product => product.category === category);
        if (categoryProducts.length > 0) { %>
                <section class="categories" id="<%= category %>">
                    <% if(category == 'giftcards') { %>
                        <div class="giftcard-wrapper">
                            <div class="product-text">
                                <h2>Browse</h2>
                                <h2>Giftcards</h2>
                                <ol>
                                    <li><span>The Perfect Gift</span></li>
                                    <li><span>Anytime</span></li>
                                    <li><span>Anywhere</span></li>
                                </ol>
                            </div>
                        </div>
                    <% } else if (category == 'iphones') { %>
                        <div class="product-text">
                            <h2>Browse iPhones%></h2>
                        </div>
                    <% } %>
                    <div class="categories-container">
                        <% categoryProducts.forEach(product => { %>
                            <%- include('partials/homepage/product-card', { product }) %>
                        <% }) %>
                    </div>
                </section>
        <% } 
    }) %>

<!-- Include footer partial -->
<%- include('./partials/footer/footer.ejs') %>

<!-- Move the Finisher Header script here -->
<script src="/scripts/index.js" defer></script>
</body>
</html>
