<%- include('./partials/header.ejs') %>

    <div class="slides">
        <img src="ui/16.png" class="slide" id="slideOne" />
        <img src="ui/16s.jpg" class="slide" id="slideTwo" />
        <img src="ui/AirPods4.jpg" class="slide" id="slideThree" />
        <img src="ui/15.png" class="slide" id="slideFour" />
        <img src="ui/apple_giftcard.jpg" class="slide" id="slideFive" />
    </div>
    <div class="dot-container">
        <span class="dot" onclick="one()"></span>
        <span class="dot" onclick="two()"></span>
        <span class="dot" onclick="three()"></span>
        <span class="dot" onclick="four()"></span>
        <span class="dot" onclick="five()"></span>
    </div>

    <!-- Product Cards -->
    <% const categories = ["iphones", "giftcards", "accessories"]; %>
    <% categories.forEach(category => { 
        const categoryProducts = products.filter(product => product.category === category);
        if (categoryProducts.length > 0) { %>
    
            <section class="categories" id="<%= category %>">
                <div class="heading">
                    <h2>Browse <%= category.charAt(0).toUpperCase() + category.slice(1) %></h2>
                </div>
    
                <div class="categories-container">
                    <% categoryProducts.forEach(product => { %>
                        <%- include('partials/homepage/product-card', { product }) %>
                    <% }) %>
                </div>
            </section>
    
        <% } 
    }) %>
    
    <!-- Footer Section -->
    <!-- Scripts -->
    <script src="/scripts/index.js"></script>
    <script src="/scripts/header.js"></script>
</body>
</html>
