<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/notFound.css" />

<div class="container">
	<div class="wrapper">
		<h1>404</h1>
		<h4>Ooops!!</h4>
		<p>requested page doesn't exist or unavailable!</p>
	</div>
</div>

<%- include('./partials/footer.ejs') %>
