body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    margin-top: 100px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    text-align: center;
}

.profile {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.profile p {
    margin: 8px 0;
}

.orders ul {
    list-style-type: none;
    padding: 0;
}

.orders li {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.orders li p {
    margin: 5px 0;
}
