@import url("global.css");
.container {
	box-sizing: border-box;
	margin: 0 3vw;
	margin-bottom: 100px;
}
.container-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 5vw;
	min-height: 185vh;
	align-self: flex-start;
}
.checkout-heading {
	margin: 0 7.1vw;
	font-size: 32px;
	padding: 16px 0;
	color: #5f5f5f;
}
.left-container,
.right-container {
	min-height: 80vh;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0 16px 35px #0000001a;
	padding: 22px;
}
.left-container {
	width: 100%;
	max-width: 730px;
	display: flex;
	flex-direction: column;
	row-gap: 14px;
}
.left-h3 {
	color: #656565;
	font-size: 15px;
	padding: 6px 0;
	border-bottom: 1px solid #0000004f;
}
.personal-info {
	padding: 6px 0;
}
.form-group label,
.payment-div label,
.delivery-method label {
	font-size: 14px;
	display: block;
	margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="number"] {
	width: 100%;
	padding: 14px 12px;
	border: none;
	box-shadow: 0px 0px 5px rgb(0 0 0 / 0.2);
	margin: 8px 0;
}
.delivery-option {
	align-items: center;
	justify-content: center;
	display: flex;
	height: 45px;
	text-align: center;
	font-size: 16px;
	margin-bottom: 20px;
	border: 1px solid #4caf50;
	background: rgba(77, 176, 80, 0.051);
	color: #007f00;
}
.checkout_notice {
	padding: 8px 0;
	background-color: rgba(255, 0, 0, 0.1);
	border: 1px solid rgba(255, 0, 0, 0.6);
}
.checkout_notice p {
	font-size: 15px;
	line-height: 20px;
	color: #b10010;
	padding: 3px 10px;
}
.note {
	font-size: 14px;
	color: red;
	padding-bottom: 16px;
}
.payment-option {
	line-height: 24px;
	border: 1px solid rgb(255, 166, 0);
	background: rgba(255, 255, 0, 0.8);
}
.payment-option ul li {
	list-style: none;
	padding: 10px 10px;
	font-size: 15px;
}
.options {
	width: 120px;
	height: 88px;
	border: 1px solid #c9c9c9;
	border-radius: 4px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.options.selected {
	background-color: #edffef;
	border-color: #00a306;
	transition: 0.2s linear;
	box-shadow: 0px 0px 20px 4px #00a3053b;
}
.options:hover {
	background-color: #fffaed;
	border-color: rgba(224, 146, 0, 0.8);
	transition: 0.2s linear;
	box-shadow: 0px 0px 10px 4px rgba(224, 146, 0, 0.2);
	cursor: pointer;
}
.options img {
	width: 40px;
}
.options input {
	opacity: 0;
}
.options label {
	height: 100%;
	width: 100%;
	padding: 11px 6px;
	margin: 0;
	z-index: 5;
}
.payment_process {
	display: flex;
	gap: 12px;
	padding: 10px;
	flex-wrap: wrap;
	max-width: 500px;
	justify-content: center;
}

.right-container {
	width: 100%;
	max-width: 40%;
	display: flex;
	flex-direction: column;
	row-gap: 14px;
	position: sticky;
	top: 80px;
	height: 100%;
} /* Cart Cards */
.cart-wrapper {
	display: flex;
	flex-direction: column;
	height: 235px;
	overflow-y: auto;
	margin: 20px 0;
}
.cart-card {
	padding: 0;
	display: flex;
	flex-direction: row;
	min-height: 70px;
	border-bottom: 1px solid #0000004f;
}
.thumbnail-image {
	max-width: 45px;
	margin: 0 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.thumbnail-image img {
	width: 100%;
	object-fit: contain;
	object-position: center;
	border-radius: 10px;
}
.card-info {
	color: var(--text-color);
	font-size: 15px;
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
}
.name,
.price,
.quantity,
.total {
	padding: 2px;
	font-size: 14px;
}
.total {
	min-width: fit-content;
}
.total p {
	position: relative;
	right: 0;
}
.delete-btn-wrapper {
	display: flex;
	align-items: center;
}
.delete-btn {
	border: none;
	background: none;
}
.delete-btn img {
	width: 24px;
} /* Order Summary Section */
.left-bottom {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
}
.order-summary {
	margin-bottom: 15px;
}
.order-summary li {
	display: flex;
	margin-bottom: 5px;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	flex-direction: row;
	justify-content: space-between;
} /* Payment and Delivery Section */
.order-summary-section {
	display: flex;
	flex-direction: column;
}
.payment-delivery {
	display: flex;
	justify-content: space-between;
}
.payment-div h2,
.delivery-method h2 {
	margin-bottom: 10px;
}
.confirm-order-btn {
	display: inline-block;
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 12px 20px;
	border-radius: 4px;
	cursor: pointer;
}
.confirm-order-btn:hover {
	background-color: #0056b3;
} /* Responsive Styles */
@media screen and (max-width: 860px) {
	.container-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.checkout-heading {
		margin: 0;
		margin-top: 30px;
		width: 100%;
		font-size: 24px;
		padding: 16px 0;
		color: #5f5f5f;
	}
	.left-container {
		padding: 10px;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: 14px;
	}
	.right-container {
		padding: 10px;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: 14px;
	}
	.payment-option,
	.delivery-option {
		margin-bottom: 5px;
	}
	.payment-div,
	.delivery-method {
		margin-bottom: 0;
	}
	.cart-wrapper {
		height: 220px;
		margin: 24px 0;
	}
	.cart-card {
		min-height: 80px;
	}
}
