.footer-container,
.footer-container * {
	color: hsl(0, 0%, 30%);
}

.footer-container {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 2vh 5vw;
	height: 35vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: hsl(0deg 0% 95%);
}

.footer-div-1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 60%;
}
.footer-sections {
	height: 85%;
}
.footer-sections h2 {
	padding-bottom: 12px;
	font-size: 21px;
}
.our-products h2 {
	font-size: 16px;
}
.contacts {
	display: flex;
	flex-direction: column;
	width: 40%;
}
.our-products {
	padding-left: 5%;
}
.contacts ul li a,
.socials ul li a,
.our-products ul li a {
	text-decoration: underline;
	text-underline-offset: 3px;
}
.our-products li {
	list-style: circle;
	padding: 5px 0px;
	font-size: 13px;
}
.contacts li,
.socials li {
	padding: 10px 4px;
	font-size: 14px;
}
.contacts ul li img,
.socials ul li img {
	width: 17px;
	transform: translateX(-5px) translateY(18%);
}

.footer-div-2 {
	border-top: 1px solid hsl(0, 0%, 30%);
	padding-top: 8px;
	text-align: center;
	bottom: 0;
	position: relative;
}
.footer-div-2 p,
.footer-div-2 a {
	color: #6d6b6b;
	font-size: 10px;
}
@media (max-width: 900px) {
	.footer-container {
		margin: 0;
		padding: 3px;
		padding-bottom: 12vh;
		height: 45vh;
	}
	.footer-sections {
		height: 60%;
		padding: 2px;
	}
	.footer-sections h2 {
		padding-bottom: 5px;
		font-size: 16px;
	}
	.business-name {
		font-size: 20px;
	}
	.contacts li,
	.socials li {
		padding: 7px 0;
		font-size: 10px;
	}
	.our-products li {
		padding: 6px 0;
		font-size: 10px;
	}
	.contacts ul li img,
	.socials ul li img {
		width: 12px;
		transform: translateX(-5px) translateY(15%);
	}
	.footer-div-2 {
		padding: 0px 5px;
	}
	.footer-div-2 p {
		font-size: 10px;
		transform: translateY(15px);
	}
}
