:root {
--text-color: #313233;
--background-color: #fff;
}

* {
font-family: sans-serif;
margin: 0;
padding: 0;
color: var(--text-color);
box-sizing: border-box;
list-style: none;
text-decoration: none;
background-color: var(--background-color);
scroll-padding-top: 2rem;
scroll-behavior: smooth;
}

header {
position: fixed;
height: 70px;
width: 100%;
top: 0;
right: 0;
z-index: 1000;
display: flex;
align-items: center;
justify-content: space-between;
background-color: var(--background-color);
padding: 0 200px;
transition: 0.5s;
box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
}

.LOGO {
background-color: transparent;
}

.LOGO img {
padding-top: 5px;
width: 70px;
height: 100%;
background: none;
}

.navbar {
display: flex;
align-items: center;
column-gap: 0.5rem;
}

.navbar a {
cursor: pointer;
font-size: 1.2rem;
font-weight: 500;
color: var(--text-color);
padding: 1.5rem 1rem;
}

.navbar a:hover {
border-bottom: 2px solid var(--text-color);
}

.hamburger {
display: none;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 24px;
cursor: pointer;
z-index: 1002;
}

.hamburger .bar {
height: 4px;
width: 100%;
background-color: var(--text-color);
transition: all 0.4s ease-in-out;
transform-origin: center;
}

.hamburger.active .bar:nth-child(1) {
transform: rotate(-45deg) translate(-14.2px, 0);
}

.hamburger.active .bar:nth-child(2) {
opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
transform: rotate(45deg) translate(-14px, 0);
}

.cart-icon {
position: relative;
display: inline-block;
}

.cart-icon img {
width: 28px;
height: 28px;
}

.cart-badge {
position: absolute;
top: -5px;
right: -8px;
background-color: red;
color: #fff;
font-size: 12px;
font-weight: 700;
padding: 2px 6px;
border-radius: 50%;
}

.profile-icon {
position: relative;
display: inline-block;
}

.profile-icon img {
width: 28px;
height: 28px;
}

.account-container {
display: flex;
gap: 30px;
}

.profile-container {
position: relative;
display: inline-block;
}

#user-info p,
#user-info {
padding: 12px 15px;
background-color: var(--background-color);
color: var(--text-color);
font-weight: 600;
display: flex;
justify-content: space-between;
flex-direction: column;
}

#user-info a {
padding: 12px 15px;
background-color: var(--background-color);
font-weight: 700;
}

#user-info a:hover {
color: #278fff;
transition: 0.5s;
}

.menu-dropdown {
display: none;
position: absolute;
right: 0;
top: 100%;
background: var(--background-color);
padding: 15px;
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
min-width: 200px;
z-index: 100;
}

.menu-dropdown.active {
display: block;
}

#login-button,
#logout-button {
width: 100%;
padding: 10px;
border: none;
border-radius: 5px;
background: #0056b3;
color: #fff;
cursor: pointer;
margin-top: 10px;
}

#logout-button:hover,
#login-button:hover {
background: #002c5c;
transition: 0.5s;
}

@media (max-width: 768px) {
header {
height: 60px;
padding: 0 30px;
}

.LOGO img {
padding-top: 0;
width: 60px;
}

.navbar {
position: fixed;
flex-direction: column;
top: -100%;
left: 0;
width: 100%;
background-color: var(--background-color);
padding-top: 20px;
justify-content: flex-start;
text-align: center;
align-items: center;
transition: top 1s ease-in-out;
}

.navbar.active {
top: 0;
box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
padding: 20px;
height: 100%;
z-index: 10;
display: flex;
justify-content: center;
row-gap: 100px;
}

.hamburger {
display: flex;
}

.navbar a {
padding: 5px;
font-size: 1.5rem;
}

.menu-dropdown {
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
z-index: 1500;
}

.account-container {
width: 100%;
height: 60px;
left: 0;
position: fixed;
align-items: center;
background-color: var(--background-color);
bottom: 0;
flex-direction: row;
justify-content: space-around;
gap: 20px;
box-shadow: 0 10px 15px #000;
}
}

@media (min-width: 769px) {
.hamburger {
display: none;
}
}