@import url("global.css");

* {
	margin: 0;
	padding: 0;
	color: var(--text-color);
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	scroll-padding-top: 2rem;
	scroll-behavior: smooth;
}

header {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 60px;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 200px;
	transition: 0.5s;
	box-shadow: 0 0px 7px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
}

/* error div */
.common-error-div {
	position: fixed;
	top: 70px;
	right: 0;
	width: 100%;
	height: 70px;
	padding: 0 200px;
	transition: top 0.5s linear;
	background: #ff2222;
}

.common-error-msg {
	display: flex;
	font-size: 20px;
	height: 100%;
	color: white;
	align-items: center;
	justify-content: center;
}

/* Navbar */
.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.logo img {
	max-width: 38px;
}

.logo p {
	font-size: 1rem;
	min-width: fit-content;
	cursor: pointer;
	font-size: 15px;
	font-weight: 400;
	color: var(--text-color);
	padding: 1rem;
	text-wrap-mode: nowrap;
}

.navbar {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

.navbar a {
	position: relative;
	cursor: pointer;
	font-size: 15px;
	font-weight: lighter;
	color: var(--text-color);
	padding: 1rem;
	text-wrap: nowrap;
}

.navbar a::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0%;
	height: 2px;
	background: var(--text-color);
	transition: 0.5s;
	transform: translateX(-50%);
}

.navbar a:hover::after {
	width: 100%;
}

/* Hamburger Menu */
.hamburger {
	flex-direction: column;
	justify-content: space-between;
	min-width: 30px;
	height: 24px;
	cursor: pointer;
	position: relative;
	z-index: 1002;
}

.hamburger .bar {
	height: 4px;
	width: 100%;
	background-color: var(--text-color);
	transition: all 0.4s ease-in-out;
	transform-origin: center;
}

.hamburger.active .bar:nth-child(1) {
	transform: rotate(-45deg) translate(-14.2px, 0);
}

.hamburger.active .bar:nth-child(2) {
	opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
	transform: rotate(45deg) translate(-14px, 0);
}

/* Account Container */
.account-container {
	display: flex;
	gap: 30px;
	align-items: center;
}

/* search */
#search-div {
	flex-direction: row;
	column-gap: 25px;
	width: 15vw;
	align-items: center;
	justify-content: center;
}

.searchBtn {
	background: none;
	border: none;
	cursor: pointer;
}

.searchBtn img {
	width: 30px;
}

.searchBar {
	opacity: 0;
	position: fixed;
	top: -35vh;
	left: 0;
	width: 100%;
	transition: 0.2s linear;
	height: 35vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.searchBar.active {
	top: 0;
	opacity: 1;
	background: rgb(255, 255, 255, 0.8);
	box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(15px);
}

.searchBar.active~* {
	transition: 0.3s linear;
	filter: blur(2px);
}

.searchBar input {
	background: none;
	font-size: 16px;
	color: var(--text-color);
	height: 40px;
	width: 50vw;
	padding-inline-end: 38px;
	padding-inline-start: 20px;
	position: relative;
	border-radius: 30px;
	border: 1px solid var(--text-color);
}

.searchBar input::placeholder {
	color: var(--text-color);
	font-size: 14px;
}

header.searchMode {
	box-shadow: none;
	background: #fff;
}

.global_search {
	display: flex;
	flex-direction: column;
	margin-top: 60px;
}

.global_search_ql h2 {
	padding: 6px 0;
	font-size: 14px;
	font-weight: lighter;
}

.global_search_ql {
	padding: 10px;
	font-size: 14px;
}

.global_search_ql ol li {
	padding: 8px 0;
}

.global_search_ql ol li a {
	display: flex;
	font-weight: 600;
	align-items: center;
	text-decoration: underline;
}

.global_search_ql ol li a img {
	margin-right: 5px;
	width: 14px;
	height: auto;
}

/* Cart Icon */
.cart-icon {
	position: relative;
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: var(--font-size);
}

.cart-icon img {
	width: 30px;
}

.cart-badge {
	position: absolute;
	top: -3px;
	left: 15px;
	background-color: hsl(283, 100%, 50%);
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	padding: 2px 6px;
	border-radius: 50%;
}

/* Profile Icon */
.profile-icon {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: var(--font-size);
}

.profile-icon img {
	width: 29px;
	position: relative;
	top: -1px;
}

/* Profile Dropdown */
.profile-container {
	position: relative;
	display: inline-block;
}

#user-info p,
#user-info {
	padding: 12px 15px;
	color: var(--text-color);
	font-weight: 600;
	display: flex;
	flex-direction: column;
}

#user-info a {
	color: #0056b3;
	padding: 12px 15px;
	font-weight: 700;
}

#user-info a:hover {
	color: #002c5c;
	transition: 0.5s;
}

.menu-dropdown {
	display: none;
	position: absolute;
	right: 0;
	top: 100%;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	background: white;
	min-width: 200px;
	z-index: 100;
}

.menu-dropdown.active {
	display: block;
}

#login-button,
#logout-button {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background: linear-gradient(20deg, #35353577, hsl(0deg 0% 0% / 80%));
	color: #fff;
	cursor: pointer;
	margin-top: 10px;
}

#login-button:hover,
#logout-button:hover {
	background: linear-gradient(20deg, #00000088, hsl(0deg 0% 0% / 80%));
	transition: ease 1s;
}

/* Visible only on mobile devices */
@media (max-width: 1280px) {
	header {
		height: 60px;
		padding: 0 30px;
	}

	.common-error-div {
		top: 60px;
		height: 60px;
		padding: 0 30px;
	}

	.navbar {
		position: fixed;
		flex-direction: column;
		top: -100vh;
		left: 0;
		width: 100%;
		background-color: var(--background-color);
		text-align: center;
		transition: top 0.4s ease;
		z-index: 1000;
		box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
		display: flex;
		row-gap: 70px;
		justify-content: center;
	}

	.navbar.active {
		top: 0;
		height: 100vh;
	}

	.global_search {
		width: 80%;
	}

	.searchBar input {
		width: 100%;
	}

	.account-container {
		display: none;
	}

	.mobile-container {
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 60px;
		background-color: hsla(0, 0%, 100%, 0.2);
		backdrop-filter: blur(45px);
		-webkit-backdrop-filter: blur(45px);
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 20px;
		z-index: 999;
		box-shadow: 0 0px 50px rgba(0, 0, 0, 0.08);
	}

	.mobile-cart-icon {
		position: relative;
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: var(--font-size);
	}

	.mobile-home-icon img,
	.mobile-cart-icon img,
	.mobile-profile-icon img {
		width: 26px;
	}

	.mobile-cart-badge {
		position: absolute;
		top: -3px;
		left: 15px;
		background-color: hsl(283, 100%, 50%);
		color: #fff;
		font-size: 12px;
		font-weight: 700;
		padding: 2px 6px;
		border-radius: 50%;
	}

	#search-div,
	.hamburger {
		display: flex;
	}

	.searchBar {
		top: -35vh;
		height: 35vh;
	}
}

@media (min-width: 1281px) {
	.mobile-container {
		display: none;
	}

	#search-div {
		display: none;
	}
}