/* Header */
header {
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  padding: 0px 200px 0px 200px;
  transition: 0.5s;
  box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
}

.LOGO {
  background-color: transparent;
}

.LOGO img {
  padding-top: 5px;
  width: 70px;
  height: 100%;
  background-color: transparent;
  background: none;
}

.navbar {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.navbar a {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  padding: 0.5rem 1rem;
}

.navbar a:hover {
  background-color: aliceblue;
  border-radius: 5rem;
  transition: background 0.5s;
}

/* Hamurger */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
    z-index: 1002;
}

.hamburger .bar {
    height: 4px;
    width: 100%;
    background-color: var(--text-color);
    transition: 0.4s ease-in-out;
    transform-origin: center;
}

.hamburger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-14.2px, 0px);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-14px, 0px);
}

/* Cart Icon */
.cart-icon {
    position: relative;
    display: inline-block;
}

.cart-icon img {
    width: 28px;
    height: 28px;
}

.cart-icon:hover {
  content: url('/ui/icons/cart-shopping-solid.svg');
  width: 28px;
  height: 28px;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
}

/* Profile Icon */
.profile-icon {
    position: relative;
    display: inline-block;
}

.profile-icon img {
    width: 28px;
    height: 28px;
}

.profile-icon:hover {
  content: url('/ui/icons/circle-user-solid.svg');
  width: 28px;
  height: 28px;
}

/* Accounts */
.account-container {
    display: flex;
    gap: 20px;
}

/* Menu Drop Down */
.profile-container {
  position: relative; /* Ensures the menu positions correctly */
  display: inline-block;
}

#user-info p,#user-info {
  padding: 12px 15px;
  background-color: var(--background-color-3);
  color: var(--text-color);
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
  
#user-info a{
    padding: 12px 15px;
    background-color: var(--background-color-3);
    font-weight: bolder;
}
  
#user-info a:hover{
    color: #278fff;
    transition: 0.5s;
}
  
.menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: var(--background-color-3);
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    z-index: 100;
}
  
.menu-dropdown.active {
    display: block;
}
  
#login-button,
#logout-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0056b3;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
  
#logout-button:hover,#login-button:hover {
    background: #002c5c;
    transition: 0.5s;
}

/* Mobile */
@media (max-width: 768px) {
    header {
      height: 60px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--background-color);
      padding: 0px 30px 0px 30px;
      transition: 0.5s;
      box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    }
  
    .LOGO img {
      padding-top: 0px;
      width: 60px;
      height: 100%;
      background-color: transparent;
      background: none;
    }
  
    .navbar {
      position: fixed;
      display: flex;
      flex-direction: column;
      top: -100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      padding-top: 20px;
      transition: top 1s ease-in-out;
      z-index: 1010;
      justify-content: flex-start;
      text-align: center;
      align-items: center;
    }
  
    .navbar.active {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      width: 100%;
      background-color: var(--background-color);
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      padding: 20px;
      height: 100%;
      z-index: 900;
      justify-content: flex-start;
      text-align: center;
      align-items: center;
    }
  
    .hamburger {
      display: flex;
    }
    .navbar a {
      display: block;
      margin: 10px;
      padding: 5px;
      color: var(--text-color);
      font-size: 1.3rem;
      white-space: nowrap;
    }
  
    .menu-dropdown {
      position: fixed;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
      z-index: 1500;
    }

    .account-container {
      width: 100%;
      height: 60px;
      left: 0;
      position: fixed;
      align-items: center;
      background-color: var(--background-color);
      bottom: 0%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 20px;
    }

  }
  
  @media (min-width: 769px) {
    .hamburger {
      display: none;
    }
  }