* {
  /* box-sizing: border-box; */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f9f9f9, #e6e6e6);
}

.wrapper {
  margin-top: 50px;
  width: 400px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 28px;
  color: #333;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  margin: 20px 0;
}

.input-box input {
  text-align: center;
  width: 100%;
  height: 45px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0 40px 0 15px;
  font-size: 14px;
  color: #333;
}

.input-box i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 10px 0;
}

.wrapper .btn {
  text-align: center;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  height: 45px;
  background: #8b8b8b;
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 1s;
}

.wrapper .btn:hover {
  background: #00520b;
  border-radius: 20px;
}

.wrapper .register-link p {
  padding: 15px;
  text-align: center;
  font-size: 14px;
}

.wrapper .register-link p a {
  color: #dd4600;
  text-decoration: none;
  font-weight: bold;
}

.wrapper .register-link p a:hover {
  text-decoration: underline;
}
