@import url("global.css");
body {
	overflow: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: linear-gradient(
		180deg,
		#ffffff00,
		#ffdbed6b,
		hsl(240deg 100% 50% / 21%)
	);
}
.show.error {
	color: red;
	text-align: center;
}
.wrapper {
	margin: 20px;
	background: white;
	border-radius: 20px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	padding: 30px 40px;
}
#registerWrapper {
	background-color: transparent;
}
#loginWrapper {
	width: 400px;
	max-width: 400px;
	background-color: transparent;
}
.wrapper h1 {
	font-size: 28px;
	text-align: center;
}
.wrapper .input-box {
	position: relative;
	width: 100%;
	margin: 20px 0;
}
.input-box input {
	text-align: center;
	width: 100%;
	height: 45px;
	background-color: transparent;
	border: 1px solid #ccc;
	border-radius: 20px;
	padding: 0 40px 0 15px;
	font-size: 14px;
}
.input-box-div {
	display: flex;
	gap: 10px;
	width: 100%;
}
.input-box select {
	background: none;
	padding: 0 10px;
	border-radius: 20px;
	border: 1px solid #ccc;
	height: 45px;
	font-size: 14px;
	cursor: pointer;
}
.wrapper .btn {
	position: relative;
	overflow: hidden;
	text-align: center;
	justify-content: center;
	max-width: 100%;
	width: 100%;
	height: 45px;
	background: linear-gradient(20deg, #35353577, hsl(0deg 0% 0% / 80%));
	border: none;
	border-radius: 15px;
	color: white;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}
.wrapper .btn::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #86868646, hsl(0deg 0% 0% / 80%));
	opacity: 0;
	transition: opacity 1s;
	border-radius: inherit;
	z-index: -1;
}
.wrapper .btn:hover::after {
	opacity: 1;
}
.wrapper .register-link p {
	padding: 15px;
	text-align: center;
	font-size: 14px;
}
.wrapper .register-link p a {
	color: #007705;
	text-decoration: none;
	font-weight: bold;
}
.wrapper .register-link p a:hover {
	text-decoration: underline;
}
@media (max-width: 768px) {
	body {
		overflow: scroll;
		flex-direction: column;
	}
	#loginWrapper {
		width: auto;
	}
	.wrapper {
		width: 90%;
		padding: 20px;
	}
	.input-box-div {
		flex-direction: column;
	}
}
