:root {
  --text-color: #1d1d1d;
  --background-color: #fff;
}

.product-main {
  margin: auto;
  position: relative;
  margin-top: 90px;
  margin-bottom: 0px;
  /* box-shadow: 0 8px 11px rgb(14 55 54 / 15%); */
  align-items: center;
  text-align: center;
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* Product Images */
.product-images {
  /* box-shadow: 0 8px 11px rgb(14 55 54 / 15%); */
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 20px;
  flex: 1 1 100%;
}

.product-images img {
  max-width: 60%;
  height: auto;
  aspect-ratio: 4 / 3; /* Maintain consistent ratio for images */
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  object-fit: cover; /* Ensure proper fit for different formats */
}

/* Image Thumbnails */
.image-thumbnails {
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.image-thumbnails img {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  object-fit: cover; /* Fix ratio issue between webp and jpeg */
}

.image-thumbnails img:hover {
  border-color: #007bff;
}

/* Product Info */
.product-info {
  flex: 1 1 100%;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .product-images,
  .product-info {
    flex: 1 1 45%;
    max-width: 45%;
  }
}

/* Related Products */
.related-products-container {
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 10px;
}

.related-product {
  background-color: var(--background-color);
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
  padding: 15px;
  text-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 25px;
  aspect-ratio: 4 / 3;
}

.related-products h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 20px;
}
.related-product img {
  width: 80%;
  height: 160px;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 4 / 3;
}

/* Responsive Adjustments */
@media screen and (max-width: 1024px) {
  .product-images,
  .product-info {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .related-products-container {
    flex-wrap: wrap;
    gap: 10px;
  }

  .related-product {
    width: 150px;
    aspect-ratio: 4 / 3;
  }
}

@media screen and (max-width: 768px) {
  .product-main {
    flex-direction: column;
  }

  .product-images,
  .product-info {
    max-width: 100%;
  }

  .image-thumbnails img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 480px) {
  .related-product {
    width: 120px; /* Even smaller on phones */
    aspect-ratio: 4 / 3;
  }
}
