:root {
	--text-color: hsla(0, 0%, 0%, 0.65);
	--background-color: #fff;
	--background-color-2: #8080802e;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background: none;
	color: var(--text-color);
}

.product-details {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: flex;
	flex-direction: column;
	margin: 0 min(20dvw, max(7dvw, 20dvw));
}
.sections {
	scroll-snap-align: end;
	transition: opacity 0.5s ease, transform 0.5s ease;
}

.product-main {
	height: fit-content;
	margin-bottom: 5%;
	margin-top: 140px;
	display: flex;
	gap: 10%;
	justify-content: center;
}

.product-images {
	height: 100%;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	text-align: center;
	row-gap: 10px;
}

.thumbnail-image-div {
	display: flex;
	flex-direction: row;
	max-width: 340px;
	overflow-x: auto;
	overflow-y: hidden;
	gap: 2%;
}

.thumbnail-images {
	background: transparent;
	border: 1px solid hsl(0deg 0% 0% / 0.2);
	border-radius: 10px;
	padding: 5px;
	max-width: 75px;
	cursor: pointer;
}

#main-image {
	border-radius: 20px;
	border: 1px solid hsl(0deg 0% 0% / 0.2);
	width: 220px;
	object-fit: contain;
	object-position: center;
}
.product-div {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.product-info {
	max-width: 350px;
}

#configs {
	display: flex;
	flex-direction: column;
	gap: 15px;
	font-size: 18px;
}

.in-stock {
	font-weight: bolder;
	color: green;
}

.out-of-stock {
	font-weight: bolder;
	color: red;
}

#product-price {
	font-size: 17px;
	color: #333;
	margin: 0;
}

#product-name {
	font-size: 2rem;
	font-weight: bold;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(198deg, #8f0101b0, #8f0101fc, #000000);
	background-clip: text;
	-webkit-background-clip: text;
	margin-bottom: 15px;
}

.price-options {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 7px;
	margin-bottom: 20px;
}

.price-btn {
	background-color: transparent;
	border: 1px solid grey;
	color: var(--text-color);
	padding: 10px;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 400;
	border-radius: 10px;
	transition: all 0.3s ease;
}

.price-btn:hover,
.price-btn.active {
	background: linear-gradient(20deg, #7272723f, #000000ee);
	color: white;
	border: none;
}

#selected-price {
	color: var(--text-color);
	padding-bottom: 6%;
	font-size: 19px;
	font-weight: bold;
}

.quantity-selector {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.qty-btn {
	padding: 10px 15px;
	border: 1px solid #ccc;
	background-color: #fff;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.qty-btn:hover {
	background-color: #f2f2f2;
}

.quantity-value {
	margin: 0 10px;
	font-size: 16px;
	min-width: 20px;
	text-align: center;
}

.actions {
	display: flex;
	column-gap: 10%;
	flex-direction: row;
}

.add-to-cart {
	padding: 10px 20px;
	color: white;
	border: none;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	max-width: 200px;
	font-weight: 600;
	background: linear-gradient(20deg, rgb(65, 65, 255), magenta);
	white-space: nowrap;
}

.add-to-cart:hover {
	background: linear-gradient(20deg, rgb(0, 0, 129), rgb(117, 0, 117));
	transition: background 1s;
}

.empty-stock {
	padding: 10px 20px;
	color: white;
	border: none;
	font-size: 16px;
	border-radius: 5px;
	width: 100%;
	max-width: 200px;
	font-weight: 600;
	background: linear-gradient(
		20deg,
		rgba(65, 65, 255, 0.4),
		rgba(255, 0, 255, 0.4)
	);
	white-space: nowrap;
}

/* Related Products Section */
.related-container {
	flex-direction: row;
	column-gap: 20%;
	height: 55dvh;
}
.related-text {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.related-text h2 {
	font-size: 1.5rem;
	min-width: fit-content;
	background: linear-gradient(13deg, #5f5f5f, #434343bd);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 3% 0;
	-webkit-background-clip: text;
}
/* Related Product Cards */
.related-product-card {
	display: flex;
	flex-direction: row;
	background-color: transparent;
	gap: 7%;
	align-items: center;
	justify-content: flex-start;
}
.related-card {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	background-color: var(--background-color-2);
	border-radius: 30px;
	width: 140px;
	padding: 10px;
	text-align: center;
	position: relative;
	transition: 0.4s ease;
}

.related-card:hover {
	transform: translateY(-10px);
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.3);
}

.related-card img {
	border-radius: 20px;
	width: 100%;
	object-fit: contain;
	object-position: center;
}

.related-name {
	font-size: 17px;
	margin: 10px 0;
	color: var(--text-color);
}

.related-price {
	font-size: 1rem;
	color: var(--text-color);
}

@media (max-width: 780px) {
	.product-main {
		flex-direction: column;
		height: auto;
		margin: 10% 0;
		margin-top: 0;
	}
	.product-images {
		display: flex;
		margin-top: 20%;
		margin-bottom: 5%;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	#main-image {
		height: 200px;
		max-width: 200px;
	}
	.thumbnail-images {
		height: 75px;
		max-width: 75px;
	}
	#product-name {
		font-size: 22px;
	}
	#configs {
		align-items: flex-start;
	}
	.price-options {
		gap: 7px;
	}
	.price-btn {
		font-size: 10px;
		padding: 7px;
		border-radius: 10px;
	}
	.product-details {
		margin: 5%;
	}
	.buy-now,
	.add-to-cart,
	.empty-stock {
		font-size: 13px;
		width: 100%;
	}
	.related-card {
		max-width: 110px;
		margin-bottom: 40px;
	}
	.related-text h2 {
		font-size: 22px;
	}
	.related-name {
		font-size: 15px;
	}
	.related-price {
		font-size: 14px;
	}
}
