.product-container {
	display: flex;
	gap: 4%;
	flex-wrap: wrap;
	align-items: center;
}

.product-text h2 {
	font-size: 1.5rem;
	min-width: fit-content;
	background: #353535;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 18px 0;
}

.product-card {
	background: none;
	transition: transform 0.4s ease-out, opacity 0.4s ease-out;
	border: 1px solid #ddd;
	border-radius: 8px;
	width: 220px;
	min-height: 300px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.product-info-div {
	display: flex;
	flex-direction: column;
	width: 95%;
}

.product-name {
	font-size: 15px;
}
.price-container {
	display: flex;
	flex-direction: row;
	gap: 3%;
	padding: 5%;
	justify-content: center;
}
.old-price {
	text-decoration: line-through;
	color: #999;
	font-weight: 400;
	font-size: 0.9rem;
}
.product-price {
	font-size: 1rem;
	font-weight: 600;
	color: #d51e0b;
}
.product-card img {
	border-radius: 10px;
	width: 100%;
	max-height: 220px;
	object-fit: contain;
	padding: 8px;
}
.product-card:hover {
	transform: translateY(-8px);
	box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
	transition: 0.4s ease;
}
@media (max-width: 780px) {
	.product-text h2 {
		padding-bottom: 5%;
	}
	.product-card {
		width: 180px;
		min-height: 0;
		height: auto;
	}
	.product-card img {
		max-height: 140px;
		object-fit: contain;
		padding: 5px;
	}
	.product-card h3 {
		padding: 2%;
		font-size: 14px;
	}
	.price-container {
		flex-direction: column;
	}
	.product-price {
		font-size: 14px;
		padding: 2%;
		text-wrap: nowrap;
	}
}
