@import url("global.css");
@import url("product-container.css");
@import url("breadcrumb.css");
body {
	background: none;
}
.product-details {
	display: flex;
	flex-direction: column;
	margin: 0 20vw;
}
.sections {
	scroll-snap-align: end;
	transition: opacity 0.5s ease, transform 0.5s ease;
}

.product-main {
	height: fit-content;
	margin: 5% 0;
	display: flex;
	gap: 10%;
	justify-content: space-around;
}

.product-images {
	display: flex;
	height: 100%;
	width: 350px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	row-gap: 10px;
	flex-direction: column;
}

.thumbnail-image-div {
	display: flex;
	flex-direction: row;
	max-width: 340px;
	overflow-x: auto;
	overflow-y: hidden;
	gap: 2%;
}

.thumbnail-images {
	background: transparent;
	border: 1px solid hsl(0deg 0% 0% / 0.2);
	border-radius: 10px;
	padding: 5px;
	max-width: 75px;
	cursor: pointer;
}

#main-image {
	border-radius: 20px;
	border: 1px solid hsl(0deg 0% 0% / 0.2);
	width: 100%;
	max-height: 350px;
	object-fit: contain;
	object-position: center;
}
.product-div {
	display: flex;
	flex-direction: column;
}

.product-info {
	max-width: 350px;
}

#configs {
	display: flex;
	flex-direction: column;
	gap: 15px;
	font-size: 18px;
}
.stock,
.point-p {
	font-size: 16px;
}

.in-stock {
	color: green;
}

.out-of-stock {
	font-weight: bolder;
	color: red;
}

.product-price-container {
	display: flex;
	flex-direction: row;
	gap: 3%;
	align-items: center;
}

#product-price {
	font-size: 17px;
	color: #333;
	margin: 0;
}

#product-name {
	font-size: 2rem;
	font-weight: bold;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(198deg, #8f0101b0, #8f0101fc, #000000);
	background-clip: text;
	-webkit-background-clip: text;
	margin-bottom: 15px;
}

.points-possible {
	color: #f14e00;
	font-weight: bold;
}

.price-options {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 7px;
	margin-bottom: 2%;
}

.price-btn {
	background-color: transparent;
	border: 1px solid grey;
	color: var(--text-color);
	padding: 10px;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 400;
	border-radius: 10px;
	transition: all 0.3s ease;
}

.price-btn:hover,
.price-btn.active {
	background: linear-gradient(20deg, #7272723f, #000000ee);
	color: white;
	border: none;
}

#selected-price {
	color: var(--text-color);
	padding-bottom: 5%;
	font-size: 19px;
	font-weight: bold;
}

.quantity-selector {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.qty-btn {
	padding: 10px 15px;
	border: 1px solid #ccc;
	background-color: #fff;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.qty-btn:hover {
	background-color: #f2f2f2;
}

.quantity-value {
	margin: 0 10px;
	font-size: 16px;
	min-width: 20px;
	text-align: center;
}

.actions {
	display: flex;
	column-gap: 10%;
	flex-direction: row;
}

.add-to-cart {
	padding: 10px 20px;
	color: #fff;
	background: #000000;
	border: none;
	font-size: 16px;
	border-radius: 20px;
	cursor: pointer;
	width: 100%;
	max-width: 200px;
	white-space: nowrap;
}

.add-to-cart:hover {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
	transition: background 1s;
}

.empty-stock {
	padding: 10px 20px;
	color: #00000048;
	border: none;
	font-size: 16px;
	border-radius: 20px;
	cursor: pointer;
	width: 100%;
	max-width: 200px;
	white-space: nowrap;
}

.product-container {
	margin-bottom: 140px;
}
.new-price {
	color: rgb(47 47 47);
	font-weight: 700;
	font-size: 1.2rem;
}
.old-product-price {
	text-decoration: line-through;
	color: #999;
	font-weight: 400;
	font-size: 1.1rem;
}
.discount-label {
	background-color: rgba(255, 30, 0, 0.83);
	color: #fff;
	font-size: 0.9rem;
	padding: 5px 9px;
	border-radius: 20px;
	font-weight: 600;
	text-wrap-mode: nowrap;
}

@media (max-width: 780px) {
	.product-main {
		flex-direction: column;
		height: auto;
		margin: 6% 0;
		margin-top: 0;
	}
	.product-images {
		display: flex;
		width: 200px;
		margin-bottom: 5%;
		justify-content: center;
		flex-direction: column;
	}
	#main-image {
		height: 200px;
		max-width: 200px;
	}
	.thumbnail-images {
		height: 75px;
		max-width: 75px;
	}
	#product-name {
		font-size: 22px;
	}
	#configs {
		align-items: flex-start;
	}
	.price-options {
		gap: 7px;
	}
	.price-btn {
		font-size: 10px;
		padding: 7px;
		border-radius: 10px;
	}
	.product-details {
		margin: 2%;
	}
	.buy-now,
	.add-to-cart,
	.empty-stock {
		font-size: 13px;
		width: 35%;
	}
}
