@import url("product-container.css");
:root {
	--height: clamp(2rem, 8vw, 3rem);
	--slide-up-font-size: 2rem;
	--text-color: hsla(0, 0%, 0%, 0.65);
	--background-color: #fff;
	--background-color-2: #8080802e;
}

.container {
	margin: 0 20vw;
	margin-top: 100px;
	padding-bottom: 80px;
	user-select: none;
	position: relative;
	flex-direction: column;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: flex;
	gap: 7%;
	flex-direction: column;
	justify-content: flex-start;
}

.product-container {
	margin-bottom: 140px;
}

.not-found {
	text-align: center;
	padding: 5%;
}
.not-found h3 {
	color: rgb(255 30 0 / 83%);
}

@media (max-width: 780px) {
	.container {
		margin: 2%;
		margin-top: 100px;
	}
}
