@import url("global.css");
@import url("product-container.css");
@import url("breadcrumb.css");
.container {
	min-height: 70vh;
	margin: 0 20vw;
	padding-bottom: 80px;
	user-select: none;
	position: relative;
	flex-direction: column;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: flex;
	gap: 7%;
	flex-direction: column;
	justify-content: flex-start;
}
.breadcrumb {
	margin-bottom: 0;
}
.product-container {
	margin-bottom: 140px;
}
.not-found {
	text-align: center;
	padding: 5%;
}
.not-found h3 {
	color: rgb(255 30 0 / 83%);
}
@media (max-width: 780px) {
	.product-container {
		gap: 5%;
	}
	.container {
		margin: 2%;
	}
}
