:root {
	--height: clamp(2rem, 8vw, 3rem);
	--slide-up-font-size: 2rem;
	--text-color: hsla(0, 0%, 0%, 0.65);
	--background-color: #fff;
	--background-color-2: #8080802e;
}
.container {
	margin: 0 min(20dvw, max(7dvw, 20dvw));
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
/* Slide up */
.typewrapper {
	margin-top: 100px;
	color: var(--text-color);
}
.typewrapper .slideup {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: flex;
	font-size: var(--slide-up-font-size);
	align-items: center;
	column-gap: 20px;
	justify-content: center;
}
.slideup h2 {
	width: fit-content;
	font-size: var(--slide-up-font-size);
}
.typewrapper .slideup ol {
	list-style: none;
	height: var(--height);
	line-height: var(--height);
	overflow: hidden;
}
.typewrapper .slideup ol li {
	width: fit-content;
	animation: slide-up 12s infinite;
}
.typewrapper .slideup ol li span {
	font-weight: 600;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(20deg, red, magenta);
	background-clip: text;
	-webkit-background-clip: text;
	white-space: nowrap;
}
@keyframes slide-up {
	0%,
	10% {
		transform: translateY(0%);
	}
	15%,
	25% {
		transform: translateY(-100%);
	}
	30%,
	40% {
		transform: translateY(-200%);
	}
	45%,
	55% {
		transform: translateY(-300%);
	}
}

/* Main Container */
.container {
	position: relative;
	display: flex;
	flex-direction: column;
}
/* first child */
.sections:first-child {
	display: flex;
	height: 20vh;
	flex-direction: column;
	overflow: hidden;
	justify-content: center;
}

.categories {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	column-gap: 10%;
	max-width: 100%;
	overflow: auto;
}
.sections {
	overflow: auto;
	height: 39vh;
}
.product-text h2 {
	font-size: 1.5rem;
	min-width: fit-content;
	background: linear-gradient(13deg, #5f5f5f, #434343bd);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 3% 0;
}
.product-container {
	display: flex;
	gap: 7%;
	margin-left: 5%;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
}

/* Product Cards */
.product-card {
	background-color: #80808026;
	border-radius: 20px;
	width: 140px;
	padding: 10px;
	transition: transform 0.4s ease-out, opacity 0.4s ease-out;
	text-align: center;
}
.product-name {
	font-size: 17px;
}
.product-price {
	font-size: 1rem;
	color: #333;
}
.product-card img {
	border-radius: 10px;
	width: 100%;
	object-fit: contain;
}
.product-card:hover {
	transform: translateY(-10px);
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.3);
	transition: 0.4s ease;
}

/* Animations */
@keyframes slide-up {
	0%,
	10% {
		transform: translateY(0%);
	}
	15%,
	25% {
		transform: translateY(-100%);
	}
	30%,
	40% {
		transform: translateY(-200%);
	}
	45%,
	55% {
		transform: translateY(-300%);
	}
}

@keyframes animate-gradient {
	to {
		background-position: 200%;
	}
}

/* Responsive Design */
@media (max-width: 780px) {
	.slide-in {
		opacity: 0;
		transform: translateX(20px);
		transition: 0.5s ease-in;
	}
	.slide-in.appear {
		opacity: 1;
		transform: translateX(0px);
	}
	.container {
		margin: 5%;
	}
	.typewrapper {
		margin-top: 60px;
	}
	.sections:first-child {
		height: 17vh;
	}
	.sections:last-child {
		margin-bottom: 10vh;
	}
	.product-container {
		overflow-y: scroll;
		scrollbar-width: none; /* Firefox */
	}
	.product-container::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Edge */
	}
	.slideup h2,
	.product-text h2,
	.typewrapper .slideup {
		font-size: 22px;
	}
	.product-text h2 {
		padding-bottom: 10%;
	}
	.product-card {
		max-width: 110px;
	}
	.product-card h3 {
		padding: 2%;
		font-size: 14px;
	}
	.product-price {
		font-size: 14px;
		padding: 2%;
		text-wrap: nowrap;
	}
}
