:root {
  --text-color: #1d1d1d;
  --background-color: #fff;
  --background-color-2: rgb(245, 245, 247);
  --background-color-3: rgb(177, 177, 177);
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  background-color: var(--background-color);
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

/* homepage picture slides */

.slides {
  margin: auto;
  position: relative;
  margin-top: 90px;
  margin-bottom: 0px;
  height: 55vh;
  width: 100vh;
  overflow: hidden;
  box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
  border-radius: 10px;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 2.5s;
  background: white;
}

/* Dots */

.dot-container {
  text-align: center;
  padding: 20px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.dot:hover {
  cursor: pointer;
  background-color: #333;
}

/* Categories */

.btn {
  padding: 0.6rem 1rem;
  background: aliceblue;
  color: #1d1d1d;
  font-weight: 400;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 160px;
  column-gap: 0.5rem;
}

.btn .bx {
  padding: 4px;
  background: white;
  border-radius: 5rem;
  color: #1d1d1d;
  font-size: 20px;
  margin: auto;
}

.btn:hover {
  background-color: lightblue;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading h1 {
  font-size: 2rem;
  font-weight: 600;
}

.categories {
  max-width: 115vh;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin-top: 2rem;
  background-color: var(--background-color);
  padding: 20px;
}

/* product cards */
.product-card {
  background-color: var(--background-color);
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
  padding: 15px;
  text-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 25px;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.itunes img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
}

.product-card h3 {
  font-size: 18px;
  margin: 10px 0;
}
.price {
  font-size: 18px;
  color: #333;
}
.old-price {
  text-decoration: line-through;
  color: #888;
}

.save-tag {
  background-color: #4caf50;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 3px;
}

.stock-out {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  padding: 4px 50px;
  border-radius: 5px;
  display: none;
}

.out-of-stock .stock-out {
  display: block;
}
.out-of-stock .price,
.out-of-stock .save-tag,
.out-of-stock .old-price {
  display: none;
}

@media (max-width: 768px) {
  .slides {
    width: 100%;
    height: 25vh;
  }

  .categories-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .product-card {
    width: 100%;
    padding: 10px;
  }

  .product-card img {
    height: 150px;
    object-fit: contain;
  }

}
