@import url("global.css");
@import url("product-container.css");
* {
	margin: 0;
	padding: 0;
}

.container {
	min-height: 70vh;
	margin: 0 20vw;
	position: relative;
	display: flex;
	flex-direction: column;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* image slider */
.slider-wrapper {
	position: relative;
	max-width: 54vw;
}
.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow: hidden;
	scroll-snap-type: x mandatory;
}
.image-slide {
	position: absolute;
	flex: 1 0 100%;
	scroll-snap-align: start;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	opacity: 0;
	transition: opacity 0.5s linear;
}
.active-slide {
	opacity: 1;
}
/* navigation dot */
.slider-nav {
	text-align: center;
	padding: 16px;
}
.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background: #717171;
	border-radius: 50%;
	display: inline-block;
	transition: width 0.5s ease;
	cursor: pointer;
}
.dot:hover {
	cursor: pointer;
	background: #333;
}
.dot.active-dot {
	background: none;
	height: 19px;
	width: 19px;
	border: 2px solid black;
	transform: translateY(10%);
}
/* section control */
.sections:first-child {
	margin-top: 80px;
}
.sections:last-child {
	margin-bottom: 140px;
}
.categories {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	column-gap: 10%;
	max-width: 100%;
	overflow: auto;
}
.product-text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.product-text p {
	padding: 8px;
	font-size: 13px;
	background: #00000017;
	border-radius: 20px;
}

@media (max-width: 768px) {
	.container {
		margin: 2%;
	}
	.slider-wrapper {
		max-width: 100vw;
	}
	.sections:first-child {
		margin-top: 80px;
	}
	.sections:last-child {
		margin-bottom: 10vh;
	}
	.product-text h2 {
		font-size: 22px;
	}
}
