:root {
--height: clamp(5rem, 8vw, 5rem);
--heading-font-size: clamp(2rem, 5vw + 1rem, 4rem);
--child-font-size: clamp(1.8rem, 4vw + 1rem, 4rem);
--heading-font-size-2: clamp(3rem, 6vw, 5rem);
--child-font-size-2: clamp(1.5rem, 3vw + 1rem, 5rem);
--text-color: hsla(0, 0%, 0%, 0.65);
--background-color: #fff;
--background-color-2: #8080802e;
}
body {
overflow-x: hidden;
background: none;
}
/* Slide up */
.typewrapper {
margin-top: 70px;
position: relative;
color: var(--text-color);
padding: 3rem;
}
.typewrapper .slideup {
user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
display: flex;
font-size: var(--child-font-size);
align-items: center;
justify-content: center;
column-gap: 20px;
}

.slideup h2{
width: fit-content;
font-size: var(--heading-font-size);
}

.typewrapper .slideup ol {
list-style: none;
height: var(--height);
line-height: var(--height);
overflow: hidden;
}
.typewrapper .slideup ol li {
width: fit-content;
animation: slide-up 12s infinite;
}
.typewrapper .slideup ol li span {
font-weight: 600;
-webkit-text-fill-color: transparent;
background: linear-gradient(20deg, red, magenta);
background-clip: text;
-webkit-background-clip: text;
white-space: nowrap;
}
@keyframes slide-up {
0%, 10% {
transform: translateY(0%);
}
15%, 25% {
transform: translateY(-100%);
}
30%, 40% {
transform: translateY(-200%);
}
45%, 55% {
transform: translateY(-300%);
}
}
/* Gradient Text Effect */
.h1s {
overflow: hidden;
}
.h1 {
user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
width: fit-content;
line-height: 0.8;
white-space: nowrap;
font-size: 12rem;
position: relative;
background: linear-gradient(to right,
hsla(299, 100%, 70%, 0.70), hsla(255, 100%, 50%, 0.50), hsla(240, 100%, 50%, 0.60),
hsla(255, 100%, 50%, 0.50), hsla(299, 100%, 70%, 0.70)
);
background-size: 200%;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: animate-gradient 3s linear infinite;
}
.p1 {left: 0%;}
.p2 {left: 14%;}
.p3 {left: 25%;}
.p4 {left: 6%;}
@keyframes animate-gradient {
to {
background-position: 200%;
}
}
/* category container */
.categories {
display: flex;
flex-direction: row;
column-gap: 10%;
max-width: 100%;
margin-top: 4%;
overflow: auto;
background: linear-gradient(180deg, #ffffff00, #ffdbed6b, hsl(240deg 100% 50% / 21%));
height: 93vh;
}
/* text div */
.giftcard-wrapper {
margin-left: 6%;
margin-top: 3%;
}
.giftcard-wrapper .product-text ol {
list-style: none;
height: var(--height);
line-height: var(--height);
overflow: hidden;
}
.giftcard-wrapper .product-text ol li {
width: fit-content;
animation: slide-in 12s infinite;
}
.giftcard-wrapper .product-text ol li span {
font-weight: 600;
-webkit-text-fill-color: transparent;
background: linear-gradient(20deg, rgb(45, 143, 0), rgb(217, 255, 0));
background-clip: text;
-webkit-background-clip: text;
white-space: nowrap;
font-size: var(--child-font-size-2);
}
.product-text {
user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
margin: 10px;
}
.product-text.slide-in.appear {
opacity: 1;
transform: translateX(0);
}
.product-text.slide-in{
opacity: 0;
transform: translateX(-60px);
transition: transform 2s ease-out, opacity 1.2s ease-out;
}
.product-text h2{
-webkit-text-fill-color: transparent;
background: linear-gradient(13deg, #b5b5b5f0, #000000);
background-clip: text;
-webkit-background-clip: text;
display: flex;
font-size: var(--heading-font-size-2);
}
@keyframes slide-in {
0%, 10% {
transform: translateY(0%);
}
15%, 25% {
transform: translateY(-100%);
}
30%, 40% {
transform: translateY(-200%);
}
}
/* category container */
.categories-container {
display: flex;
flex-direction: row;
background-color: transparent;
padding: 20px;
column-gap: 7%;
align-items: center;
justify-content: flex-start;
}

/* product cards */
.product-card {
user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
background-color: #80808026;
border-radius: 30px;
width: 200px;
padding: 10px;
text-align: center;
position: relative;
}
.product-card:hover {
box-shadow: 19px 31px 68px 0px rgb(255 0 235 / 29%);
}
.product-card img {
border-radius: 20px;
width: 100%;
object-fit: contain;
object-position: center;
}
.product-card h3 {
font-size: 15px;
margin: 10px 0;
}
.price {
font-size: 18px;
color: #333;
}
.product-card.slide-in {
opacity: 0;
transform: translateX(100px);
transition: transform 1.5s ease-out, opacity 1s ease-out;
}
.product-card.slide-in.appear {
opacity: 1;
transform: translateX(0);
}
/* responsive */
@media (max-width: 1280px) {
:root {
--heading-font-size: clamp(3rem, 6vw, 4rem);
--child-font-size: clamp(2.5rem, 4.5vw, 3.5rem);
--heading-font-size-2: clamp(3rem, 6vw, 5rem);
--child-font-size-2: clamp(3rem, 3vw, 5rem);
}
.p1 {left: -9%;}
.p2 {left: 9%;}
.p3 {right: -36%;}
.p4 {left: 2%;margin-bottom: 2px;}
.h1 {font-size: 7.5rem;}
.typewrapper {
padding: 1rem;
}
.typewrapper .slideup {
align-items: baseline;
flex-direction: column;
justify-content: flex-start;
}
.giftcard-wrapper {
margin-left: 0;
margin-top: 3%;
}
.categories {
margin: 0;
height: 95vh;
overflow-x: auto;
flex-direction: column;
}
.product-card {
overflow: auto;
max-width: 150px;
padding: 10px;
}
}
@media (max-width: 373px) {
.product-text h2 {
font-size: clamp(1.8rem, 5.5vw, 2.5rem);
}
}