<div class="price-options">
    <% [2, 5, 10, 15, 20, 25, 50, 100, 500].forEach(amount => { %>
        <button class="price-btn" data-price="<%= amount %>">$<%= amount %></button>
    <% }) %>
</div>
