@import url("../global.css");
* {
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	scroll-padding-top: 2rem;
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
}
.navbar {
	position: relative;
	height: 70px;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0 50px;
	justify-content: space-evenly;
	background-color: var(--background-color);
	box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
	display: flex;
	align-items: center;
	list-style: none;
}
.navbar a {
	text-decoration: none;
	cursor: pointer;
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--text-color);
	padding: 1.5rem 1rem;
}
.navbar a:hover {
	border-bottom: 2px solid var(--text-color);
}

@media (max-width: 768px) {
	.navbar {
		padding: 0 20px;
		display: flex;
		align-items: center;
		text-align: center;
	}
	.navbar a {
		font-size: 12px;
	}
	.navbar li {
		text-align: center;
	}
}
