@import url("adminHeader.css");
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container h1 {
	text-align: center;
	width: 100%;
	background: rgb(41 0 89);
	color: white;
	padding: 20px;
}
.order-list {
	display: flex;
	max-width: 95vw;
	gap: 20px;
	margin-bottom: 100px;
	flex-wrap: wrap;
}
.order-card {
	background: #fff;
	border-radius: 8px;
	padding: 15px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.order-card h3 {
	font-size: 14px;
}
.order-details {
	display: flex;
	flex-direction: column;
}
.point_possible-div button {
	padding: 3px;
	min-width: fit-content;
}
.point_possible-div input {
	padding: 3px;
	width: 50px;
	min-width: 30px;
}
.items-list {
	padding: 3px;
	border-radius: 4px;
}
.status-control select {
	padding: 0.5rem;
	border-radius: 4px;
	border: 1px solid #ddd;
	width: 100%;
}
@media (max-width: 1024px) {
	.navbar {
		padding: 0 20px;
	}
	.navbar a {
		font-size: 15px;
	}
	.order-list {
		gap: 10px;
	}
	.order-card {
		padding: 0.8rem;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	}
	.status-control select {
		width: 100%;
	}
}
