@import url("adminHeader.css");
* {
	font-family: sans-serif;
	color: var(--text-color);
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container h1 {
	width: 100%;
	text-align: center;
	background: rgba(0, 174, 255, 0.795);
	color: white;
	padding: 20px;
}
.Users-Wrapper {
	display: flex;
	max-width: 90vw;
	gap: 20px;
	margin-bottom: 100px;
	flex-wrap: wrap;
	justify-content: center;
}
.user-card {
	font-size: 18px;
	background: #f4f4f46e;
	border: 1px solid #ddd;
	padding: 10px;
	min-width: 330px;
	box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
}

.point_div {
	user-select: none;
	-webkit-user-select: none;
	padding: 10px 0;
}
input[type="number"] {
	width: 70%;
	padding: 8px;
	margin: 5px 0;
	border-radius: 8px;
	border: 1px solid #ccc;
	background: none;
}
.price-input {
	width: 60px;
	text-align: center;
	padding: 5px;
}
button {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	color: black;
	cursor: pointer;
	border: 1px solid #46464636;
	padding: 8px 20px;
	border-radius: 15px;
	transition: 0.3s;
}
.save-btn:hover {
	background: yellow;
}
@media (max-width: 800px) {
}
