@import url("adminHeader.css");
* {
	font-family: sans-serif;
	color: var(--text-color);
	box-sizing: border-box;
	scroll-padding-top: 2rem;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container h1 {
	text-align: center;
	width: 100%;
	background: rgb(244 0 0);
	color: white;
	padding: 20px;
}
#addNewProd {
	width: 100%;
	padding: 8px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #afafaf66;
	border-radius: 5px;
}
#addNewProd h2 {
	text-align: center;
	margin: 9px;
	font-size: 18px;
}
#new_prod_form {
	display: none;
	flex-direction: column;
}
#new_prod_form.active {
	display: flex;
}

.BtnDiv {
	width: 100%;
	text-align: center;
}
#newProdBtn {
	text-align: center;
	padding: 8px;
	width: 10rem;
	margin: 10px;
	background: none;
}
#newProdBtn:hover {
	background: #00b1ff2b;
}
#ProdList {
	overflow-y: auto;
	margin: 5vh;
}
.product-container {
	display: flex;
	justify-content: center;
	max-width: 95vw;
	gap: 20px;
	margin-bottom: 100px;
	flex-wrap: wrap;
}
.product {
	background: #f4f4f46e;
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 5px;
	width: 300px;
	height: 240px;
	box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
}
.product h3 {
	font-size: 16px;
	padding: inherit;
}
.editing-form {
	display: flex;
	flex-direction: row;
}
.input-div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
}
input[type="text"],
input[type="number"],
select {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border-radius: 8px;
	border: 1px solid #ccc;
	background: none;
}
.price-input {
	width: 60px;
	text-align: center;
	padding: 5px;
}
.btnActions {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
button {
	color: black;
	cursor: pointer;
	border: 1px solid #46464636;
	padding: 8px 20px;
	border-radius: 15px;
	transition: 0.3s;
}

.save-btn {
	color: green;
	font-weight: bold;
	border: 1px solid green;
}

.delete-btn {
	font-weight: bold;
	border: 1px solid red;
}

.save-btn:hover {
	border: transparent;
	background: hsla(133, 100%, 15%, 0.8);
	color: white;
}
.delete-btn:hover {
	border: none;
	background: hsl(2, 100%, 14%, 0.8);
	color: white;
}
#category {
	cursor: pointer;
}
@media (max-width: 1024px) {
	#addNewProd {
		width: 95%;
	}
	.product-container {
		gap: 10px;
	}
	.product {
		max-width: 250px;
		padding: 10px;
	}
	.product h3,
	.input-div label {
		font-size: 14px;
	}
	input[type="text"],
	input[type="number"],
	select {
		width: 100%;
	}
}
